* {
  margin: 0;
  padding: 0;
}

html {
	color: #212121;
	font-family: Nunito;
	font-size: 1em;
	line-height: 1.4;
}

body {
	background: #efefef;
	max-width: 1280px;
}

ul, ol {
  margin: 20px;
}

li {
  font-size: 15px;
  line-height: 20px;
}

ul li {
  list-style-type: square;
}